body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    margin: 0;
    padding: 20px;
}

body {
  font-family: Arial, sans-serif;
  padding: 0;
  background-color: lightblue;
  margin: 0;
}
header, nav, main, footer {
  padding: 20px;
  width: 100%;
}

header {
  background: white;
  text-align: center;
}

nav {
  background: #333;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

section {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

button {
    padding: 10px 15px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 15px;
}

button:hover {
    opacity: 0.9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #333;
    color: white;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f1f1;
}
